body{
  background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  /* color: red; */
}
.container{
  text-align: left;
  color: #fff;
  width:50%;
  margin: 10px auto;
  background: #2B2B4A;
  opacity: 0.8;
  /* padding-left: 20px; */
 
  line-height: 1.5;
}

 /* major form element */
form{
  margin: 20px 0;
  padding: 30px 40px;
}
#name-label,#email-label, #number-label{
  font-size: 1.5em;
}

.designed_box{
  width: 100%;
  height: 30px;
}

/* label, input {
  font-size: 0.2rem;
  font-family:poppins;
} */

/* textarea design */

textarea{
  width: 100%;
  height:40%;
}

/* button */
button{
  width:100%;
  height: 30px;
  margin: 0 auto;
  background-color: green;
  color: whitesmoke;
}
button:hover{
  outline: 2px solid white;
  opacity: 0.9;
}